# 强制所有文本文件使用 LF 换行符，因为本项目主要在 Linux 服务器上运行
* text=auto eol=lf

# 针对核心脚本明确声明
*.sh text eol=lf
*.py text eol=lf
*.tpl text eol=lf
*.pl text eol=lf
*.lua text eol=lf

# 前端与配置文件
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.conf text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ini text eol=lf
*.sql text eol=lf

# 二进制文件
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.tar.gz binary
*.tar.xz binary
*.zip binary
*.so binary
*.pyc binary

# 发布时排除指定的文件夹
plugins/待审核/ export-ignore
文档/ export-ignore
cl_tasks/ export-ignore
tmp/ export-ignore