{% extends "layout.html" %} {% block content %}

<style>
  .weblog {
    font-size: 12px;
    display: inline-block;
    line-height: 30px;
  }
  .weblog em {
    font-style: normal;
    color: #666;
    margin: 0 30px;
  }

  .weblog span {
    margin-right: 5px;
  }

  .weblog a {
    color: #20a53a;
  }
  .firewall-port-box {
    margin-bottom: 5px;
  }
  .tab-nav-view {
    border-bottom: 1px solid #edf1f2;
    background-color: #fafafa;
  }
  .tab-nav-view span {
    cursor: pointer;
    padding: 12px 25px;
    display: inline-block;
    font-size: 14px;
    color: #666;
    border-right: 1px solid #edf1f2;
    transition: all 0.2s;
  }
  .tab-nav-view span.active {
    background-color: #fff;
    color: #20a53a;
    border-bottom: 2px solid #20a53a;
    font-weight: bold;
    margin-bottom: -1px;
  }
  .tab-nav-view span:hover {
    background-color: #f6f6f6;
  }
</style>
<div class="main-content">
  <div class="container-fluid" style="padding-bottom: 50px">
    <div class="pos-box bgw mtb15">
      <div class="position f14 c9 pull-left">
        <a class="plr10 c4" href="/">首页</a>/<span class="plr10 c4"
          >系统安全</span
        >
      </div>
      <div class="search pull-right">
        <form
          target="hid"
          onsubmit="getLogs(1, $('#SearchValue').prop('value'))"
        >
          <input
            type="text"
            id="SearchValue"
            class="ser-text pull-left"
            placeholder="搜索日志"
          />
          <button
            type="button"
            class="ser-sub pull-left"
            onclick="getLogs(1, $('#SearchValue').prop('value'))"
          ></button>
        </form>
        <iframe name="hid" id="hid" style="display: none"></iframe>
      </div>
    </div>
    <div class="safe container-fluid bgw mtb15 pd15">
      <div
        class="mr20 pull-left"
        style="border-right: 1px solid #ccc; padding-right: 20px"
      >
        <form>
          <div class="ss-text pull-left">
            <a class="btlink" style="line-height: 32px" onclick="sshMgr()"
              >SSH管理</a
            >
          </div>
        </form>
      </div>
      <div
        class="mr20 pull-left"
        style="border-right: 1px solid #ccc; padding-right: 20px"
      >
        <div class="ss-text pull-left mr5">
          <em>SSH端口:</em>
          <input type="text" class="bt-input-text" id="mstscPort" value="" />
        </div>
        <div class="ss-text pull-left">
          <button
            id="mstscSubmit"
            onclick="mstsc($('#mstscPort').prop('value'))"
            class="btn btn-default btn-sm"
            type="button"
          >
            更改
          </button>
        </div>
      </div>
      <div
        class="mr20 pull-left"
        style="border-right: 1px solid #ccc; padding-right: 20px"
      >
        <div class="ss-text pull-left">
          <em>启用禁ping</em>
          <div class="ssh-item" id="is_ping">
            <input
              class="btswitch btswitch-ios"
              id="noping"
              type="checkbox"
            /><label class="btswitch-btn noping" for="noping"></label>
          </div>
        </div>
      </div>

      <div
        class="mr20 pull-left"
        style="border-right: 1px solid #ccc; padding-right: 20px"
      >
        <div class="ss-text pull-left">
          <em>启用防火墙</em>
          <div class="ssh-item" id="firewall_status">
            <input
              class="btswitch btswitch-ios"
              id="firewall_status"
              type="checkbox"
            />
            <label class="btswitch-btn sshswitch" for="firewall_status"></label>
          </div>
        </div>
      </div>

      <div class="weblog" id="firewall_weblog"></div>
    </div>

    <div class="white-black-ip bgw mtb15">
      <div class="black-ip">
        <div class="def-log">
          <div class="title c6 plr15" style="border-bottom: 1px solid #edf1f2; margin-bottom: 0px; padding: 0;">
            <div class="tab-nav-view">
              <span class="active" onclick="switchTab('port', this)">端口防火墙</span>
              <span onclick="switchTab('ip', this)">IP防火墙</span>
            </div>
          </div>

          <div class="divtable pd15">
            <!-- 端口防火墙区域 -->
            <div id="port_firewall_view">
              <div class="firewall-port-box">
                <span class="mr5" style="color: #ff0000; font-weight: bold">新增规则：</span>
                <select id="firewalldType" class="bt-input-text c5 mr5" name="type" style="width: 80px">
                  <option value="port">放行端口</option>
                  <option value="address">屏蔽</option>
                </select>

                <div id="port_input_group" style="display: inline-block">
                  <input type="text" class="bt-input-text mr5" style="width: 80px" id="AcceptPortStart" placeholder="开始端口" />
                  <span class="mr5">-</span>
                  <input type="text" class="bt-input-text mr5" style="width: 80px" id="AcceptPortEnd" placeholder="结束端口" />
                </div>
                <input type="text" class="bt-input-text mr5" style="width: 200px; display: none" id="AcceptAddress" placeholder="欲屏蔽的IP地址" />

                <input type="text" class="bt-input-text mr5" id="Ps" placeholder="备注/说明" />
                <select class="bt-input-text c5 mr5" name="protocol" style="width: 80px">
                  <option value="tcp">tcp</option>
                  <option value="udp">udp</option>
                  <option value="tcp/udp">tcp/udp</option>
                </select>
                <button id="toAccept" onclick="addAcceptPort()" class="btn btn-default btn-sm va0" type="button">提交</button>
                <span id="f-ps" class="c9" style="margin-left: 10px">说明: 仅输入开始端口即可放行单个端口</span>

                <div class="pull-right">
                  <input type="text" class="bt-input-text mr5" style="width: 100px" id="SearchPort" placeholder="端口搜索" />
                  <input type="text" class="bt-input-text mr5" style="width: 100px" id="SearchPs" placeholder="备注搜索" />
                  <button class="btn btn-default btn-sm" onclick="showAccept(1)">搜索</button>
                </div>
              </div>
            </div>

            <!-- IP防火墙区域 -->
            <div id="ip_firewall_view" style="display: none">
              <div class="firewall-port-box">
                <span class="mr5" style="color: #ff0000; font-weight: bold">新增IP规则：</span>
                <select id="ipFirewallAction" class="bt-input-text c5 mr5" style="width: 80px">
                  <option value="address_allow">放行</option>
                  <option value="address_deny">禁止</option>
                </select>
                <input type="text" class="bt-input-text mr5" style="width: 200px" id="IpAddress" placeholder="IP地址/IP段" />
                <input type="text" class="bt-input-text mr5" id="IpPs" placeholder="备注/说明" />
                <button onclick="addIpFirewall()" class="btn btn-default btn-sm va0" type="button">提交</button>
                <span class="c9" style="margin-left: 10px; color: #ff0000 !important;">注意: IP防火墙优先级最高，请谨慎操作！</span>
              </div>
            </div>

            <div class="tablescroll" style="border-top-width: 0px">
              <table class="table table-hover" style="min-width: 640px; border: 0 none">
                <thead>
                  <tr>
                    <th width="40">ID</th>
                    <th id="th_protocol" width="60">协议</th>
                    <th id="th_port" width="180">端口/IP</th>
                    <th width="80">状态</th>
                    <th>备注</th>
                    <th width="150">时间</th>
                    <th width="50" class="text-right">操作</th>
                  </tr>
                </thead>
                <tbody id="firewall_body"></tbody>
              </table>
            </div>
            <div id="firewall_page" class="dataTables_paginate paging_bootstrap page firewall_body" style="margin-bottom: 0px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/static/app/firewall.js?v={{config.version}}"></script>
{% endblock %}
