{% if not g.is_pjax %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <title>{{data['title']}}</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    {% if data['use_cdn'] == 'yes' %}
<link
      href="https://cdn.staticfile.org/twitter-bootstrap/3.3.5/css/bootstrap.min.css"
      rel="stylesheet"
      onerror="this.onerror=null;this.href='/static/bootstrap-3.3.5/css/bootstrap.min.css?v={{config.version}}'"
    />
{% else %}
<link href="/static/bootstrap-3.3.5/css/bootstrap.min.css?v={{config.version}}" rel="stylesheet" />
{% endif %}
    {% if data['use_cdn'] == 'yes' %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/layer/3.5.1/theme/default/layer.css" rel="stylesheet" onerror="this.onerror=null;this.href='/static/layer/skin/default/layer.css?v={{config.version}}'" />
{% else %}
<link href="/static/layer/skin/default/layer.css?v={{config.version}}" rel="stylesheet" />
{% endif %}
    <link href="/static/css/site.css?v={{config.version}}&t=20260527" rel="stylesheet" />
    {% if data['use_cdn'] == 'yes' %}
<link
      href="https://cdn.staticfile.org/codemirror/5.21.0/codemirror.min.css"
      rel="stylesheet"
      onerror="this.onerror=null;this.href='/static/codemirror/lib/codemirror.css?v={{config.version}}'"
    />
{% else %}
<link href="/static/codemirror/lib/codemirror.css?v={{config.version}}" rel="stylesheet" />
{% endif %}
    {% if data['use_cdn'] == 'yes' %}
<link
      href="https://cdn.staticfile.org/codemirror/5.21.0/addon/dialog/dialog.min.css"
      rel="stylesheet"
      onerror="this.onerror=null;this.href='/static/codemirror/addon/dialog/dialog.css?v={{config.version}}'"
    />
{% else %}
<link href="/static/codemirror/addon/dialog/dialog.css?v={{config.version}}" rel="stylesheet" />
{% endif %}
    <script src="/static/language/Simplified_Chinese/lan.js?v={{config.version}}"></script>
    <!--[if lte IE 9]>
      <script src="/static/js/requestAnimationFrame.js"></script>
    <![endif]-->



    <!-- 全局静态HOOK -->
    {% for menu in data['hook_global_static'] %} {% if menu['css_path'] %}
    <link
      href="/plugins/file?name={{menu['name']}}&v={{config.version}}&f={{menu['css_path']}}"
      rel="stylesheet"
    />
    {% endif %} {% endfor %}
  </head>

  <body>
    <script>
      if (localStorage.getItem("menuMini") === "true") {
        document.body.classList.add("sidebar-mini");
      }
    </script>
    <div class="bt-warp bge6">
      <div id="container" class="container-fluid">
        <div class="sidebar-scroll">
          <div class="sidebar-auto" style="padding-bottom: 50px">
            <div id="task" class="task cw" onclick="messageBox()"></div>
            <h3 class="mypcip"><span class="f14 cw">{{data['ip']}}</span></h3>
            <ul class="menu">
              {% for item in data['menu_list'] %}
                {% if item.show %}
                <li id="{{ item.id }}">
                  <a class="{{ item.class }}" href="{{ item.url }}">{{ item.name }}</a>
                  {% if item.id == 'memuAsoft' %}<span class="softnum">1</span>{% endif %}
                </li>
                {% endif %}
              {% endfor %}
              <!-- 插件设置的菜单 -->
              {% for menu in data['hook_menu'] %}
              <li id="memuAplugins_{{menu['name']}}">
                <a
                  class="menu_plugin_{{menu['name']}}"
                  href="/plugins/menu?tag={{menu['name']}}"
                  >{{menu['title']}}</a
                >
              </li>
              {% endfor %}
              <li>
                <a class="menu_exit" href="javascript:;" id="signout">退出</a>
              </li>
            </ul>
            <div id="newbtpc"></div>
            <div class="btpc-plus" onclick="bindPanel(0, 'b')">+</div>
          </div>
          <div
            id="sidebar-collapse"
            class="sidebar-collapse"
            onclick="toggleMenuMini()"
          >
            <span class="glyphicon glyphicon-menu-left"></span>
          </div>
        </div>
        <button
          style="display: none"
          id="mw_copys"
          class="mw_copy"
          data-clipboard-text=""
        ></button>

        <!-- jQuery -->
        {% if data['use_cdn'] == 'yes' %}
<script src="https://cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/jquery-1.12.4.min.js"><\/script>')</script>
{% else %}
<script src="/static/js/jquery-1.12.4.min.js"></script>
{% endif %}

        <!-- jQuery Cookie -->
        {% if data['use_cdn'] == 'yes' %}
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>$.cookie || document.write('<script src="/static/js/jquery.cookie-1.4.1.min.js"><\/script>')</script>
{% else %}
<script src="/static/js/jquery.cookie-1.4.1.min.js"></script>
{% endif %}

        <!-- Bootstrap -->
        {% if data['use_cdn'] == 'yes' %}
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>$.fn.modal || document.write('<script src="/static/js/bootstrap.min.js"><\/script>')</script>
{% else %}
<script src="/static/js/bootstrap.min.js"></script>
{% endif %}

        <!-- Layer -->
        {% if data['use_cdn'] == 'yes' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/layer/3.5.1/layer.js"></script>
<script>window.layer || document.write('<script src="/static/layer/layer.js"><\/script>')</script>
{% else %}
<script src="/static/layer/layer.js"></script>
{% endif %}



        <!-- jQuery Fly (本地加载，体积小) -->
        <script src="/static/js/jquery.fly.min.js?v={{config.version}}"></script>

        <!-- Clipboard -->
        {% if data['use_cdn'] == 'yes' %}
<script src="https://cdn.staticfile.org/clipboard.js/2.0.1/clipboard.min.js"></script>
<script>window.ClipboardJS || document.write('<script src="/static/js/clipboard.min.js"><\/script>')</script>
{% else %}
<script src="/static/js/clipboard.min.js"></script>
{% endif %}



        <!-- Local custom configurations and utilities -->
        <script src="/static/app/upload.js?v={{config.version}}"></script>
        <script src="/static/app/public.js?v={{config.version}}"></script>

        <!-- jQuery dragsort (本地，较小且定制多) -->
        <script src="/static/js/jquery.dragsort-0.5.2.min.js?v={{config.version}}"></script>

        <!-- Pjax 定时器拦截与管理 -->
        <script type="text/javascript">
            window._pjaxIntervals = [];
            window._originalSetInterval = window.setInterval;
            window.setInterval = function(fn, delay) {
                var id = window._originalSetInterval(fn, delay);
                window._pjaxIntervals.push(id);
                return id;
            };
            window.clearPjaxTimers = function() {
                if (window._pjaxIntervals) {
                    window._pjaxIntervals.forEach(clearInterval);
                    window._pjaxIntervals = [];
                }
            };
            window.loadedScripts = window.loadedScripts || {};
            // 初始化时记录页面上已有的外联 JS，避免重复加载
            $('script[src]').each(function() {
                var src = $(this).attr('src');
                if (src) {
                    var cleanSrc = src.split('?')[0];
                    window.loadedScripts[cleanSrc] = true;
                }
            });
        </script>
{% endif %}

        <div id="pjax-container">
            {% for menu in data['hook_menu'] %} {% if menu['css_path'] and data['hook_tag'] == menu['name'] %}
            <!-- 加载插件css -->
            <link href="/plugins/file?name={{menu['name']}}&v={{config.version}}&f={{menu['css_path']}}" rel="stylesheet" />
            {% endif %} {% endfor %}
            
            {% block content %}{% endblock %}

            {% for menu in data['hook_menu'] %} {% if menu['js_path'] and data['hook_tag'] == menu['name'] %}
            <script src="/plugins/file?name={{menu['name']}}&f={{menu['js_path']}}&v={{config.version}}"></script>
            {% endif %} {% endfor %}
        </div>
{% if not g.is_pjax %}
        <div class="footer bgw">
          <span>
            御风面板 &copy;2026
            <a
              class="btlink"
              target="_blank"
              title="源码"
              href="//github.com/clhome/bt_simple"
              style="margin-left: 5px"
              ><svg
                height="16"
                width="16"
                viewBox="0 0 16 16"
                style="
                  vertical-align: middle;
                  fill: currentColor;
                  margin-top: -3px;
                "
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
                ></path></svg
            ></a>
            <span style="margin-left: 5px">/</span>
            <!-- <a
              class="btlink"
              target="_blank"
              style="margin-left: 5px"
              href="//github.com/clhome/bt_simple/wiki"
              >WIKI</a
            ><span style="margin-left: 5px">/</span> -->

            <a
              class="btlink"
              target="_blank"
              href="https://www.yftec.top"
              style="margin-left: 5px"
              >御风科技</a
            >
            <span style="margin-left: 5px">/</span>
            <a
              class="btlink"
              target="_blank"
              href="https://ip.yftec.top"
              style="margin-left: 5px"
              >IP隐私安全检测</a
            >
            <span style="margin-left: 5px">/</span>
            <a
              class="btlink"
              target="_blank"
              href="https://tools.yftec.top"
              style="margin-left: 5px"
              >御风工具箱</a
            >
          </span>
          <div style="position: absolute; right: 20px; top: 0; font-size: 13px; color: #777; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; height: 100%; display: flex; align-items: center; z-index: 10;">
            <span style="font-weight: 500; letter-spacing: 0.5px;">衢州御风科技有限公司出品</span>
            <span style="margin: 0 10px; color: #ddd;">|</span>
            <a href="mailto:admin@yftec.top" style="color: #777; text-decoration: none; transition: all 0.3s ease;" onmouseover="this.style.color='#20a53a'" onmouseout="this.style.color='#777'">
              <span class="glyphicon glyphicon-envelope" style="font-size: 12px; margin-right: 4px; top: 1px;"></span>admin@yftec.top
            </a>
          </div>
        </div>
      </div>
  </div>
  </body>
{% endif %}

{% if not g.is_pjax %}
  <script type="text/javascript">
    (function ($) {
      $.getUrlParam = function (name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
      };
    })(jQuery);

    var thisPath = window.location.pathname.trim() + window.location.search;
    if (thisPath.indexOf("?") > -1) {
      var tag = $.getUrlParam("tag");
      if (tag != undefined) {
        $("#memuAplugins_" + tag).addClass("active");
      }
    } else {
      if (thisPath != "/") {
        var pathArr = thisPath.substring(1).split("/");
        $("#memuA" + pathArr[0]).addClass("active");
      } else {
        $("#memuA").addClass("active");
      }
    }
  </script>
  <!-- CodeMirror CDN & Fallback -->
  {% if data['use_cdn'] == 'yes' %}
<script src="https://cdn.staticfile.org/codemirror/5.21.0/codemirror.min.js"></script>
<script>window.CodeMirror || document.write('<script src="/static/codemirror/lib/codemirror.js?v={{config.version}}"><\/script>')</script>
{% else %}
<script src="/static/codemirror/lib/codemirror.js?v={{config.version}}"></script>
{% endif %}
  <script src="/static/codemirror/addon/edit/editAll.js?v={{config.version}}"></script>
  <script src="/static/codemirror/mode/modeAll.js?v={{config.version}}"></script>
  <script src="/static/codemirror/mode/python/python.js?v={{config.version}}"></script>
  <script src="/static/codemirror/mode/shell/shell.js?v={{config.version}}"></script>
  <script src="/static/codemirror/mode/yaml/yaml.js?v={{config.version}}"></script>
  <script src="/static/codemirror/mode/markdown/markdown.js?v={{config.version}}"></script>
  <script src="/static/codemirror/mode/properties/properties.js?v={{config.version}}"></script>
  <script src="/static/codemirror/addon/dialog/dialog.js?v={{config.version}}"></script>
  {% if data['use_cdn'] == 'yes' %}
<script src="https://cdn.staticfile.org/codemirror/5.21.0/addon/search/searchcursor.min.js" onerror="this.onerror=null;this.src='/static/codemirror/addon/search/searchcursor.js?v={{config.version}}'"></script>
{% else %}
<script src="/static/codemirror/addon/search/searchcursor.js?v={{config.version}}"></script>
{% endif %}
  <script src="/static/codemirror/addon/search/search.js?v={{config.version}}"></script>
  <script src="/static/codemirror/addon/scroll/annotatescrollbar.js?v={{config.version}}"></script>
  {% if data['use_cdn'] == 'yes' %}
<script src="https://cdn.staticfile.org/codemirror/5.21.0/addon/selection/active-line.min.js" onerror="this.onerror=null;this.src='/static/codemirror/addon/selection/active-line.js?v={{config.version}}'"></script>
{% else %}
<script src="/static/codemirror/addon/selection/active-line.js?v={{config.version}}"></script>
{% endif %}
  <script src="/static/codemirror/addon/comment/comment.js?v={{config.version}}"></script>
  <script>CodeMirror.defaults.styleActiveLine = true;</script>
  
  <!-- LayDate (本地加载，防止皮肤文件丢失) -->
  <script src="/static/laydate/laydate.js?v={{config.version}}"></script>

  <!-- 全局静态HOOK -->
  {% for menu in data['hook_global_static'] %} {% if menu['js_path'] %}
  <script src="/plugins/file?name={{menu['name']}}&f={{menu['js_path']}}&v={{config.version}}"></script>
  {% endif %} {% endfor %}

  <!-- Pjax 局部刷新逻辑 -->
  <script type="text/javascript">
    $(document).ready(function() {
        // 绑定左侧菜单点击事件
        $(document).on('click', '.menu a', function(e) {
            var url = $(this).attr('href');
            // 忽略无具体地址、外链或是当前页面
            if (!url || url === 'javascript:;' || url.startsWith('javascript:') || url === '#' || $(this).attr('target') === '_blank') {
                return;
            }
            
            e.preventDefault();
            
            // 手动更新左侧菜单高亮
            $('.menu li').removeClass('active');
            $(this).parent('li').addClass('active');

            var loadingIndex = layer.load(2, {shade: [0.1,'#fff']});

            // P1: 发送 X-PJAX 请求头，服务器只返回 #pjax-container 内容片段
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'html',
                headers: {'X-PJAX': 'true'},
                success: function(responseData) {
                    var newTitle = '';
                    var containerHtml = '';
                    var scripts = [];

                    // P1: 判断响应是片段还是完整页面
                    if (responseData.trim().indexOf('<!doctype') === -1 && responseData.trim().indexOf('<html') === -1) {
                        // 服务器已返回 Pjax 片段（无完整 HTML 框架）
                        // 从片段中提取 title 和 container 内容
                        var tmpDom = $(responseData);
                        newTitle = tmpDom.filter('title').text() || document.title;
                        containerHtml = responseData;
                    } else {
                        // 降级：服务器返回了完整页面，走原有解析逻辑
                        var dom = new DOMParser().parseFromString(responseData, 'text/html');
                        newTitle = $(dom).find('title').text();
                        var container = $(dom).find('#pjax-container');
                        if (container.length === 0) {
                            // 完全找不到容器，降级为普通跳转
                            window.location.href = url;
                            return;
                        }
                        containerHtml = container.html();
                    }

                    document.title = newTitle;

                    // 清理旧页面残留的定时器，防止叠加内存泄漏
                    if (typeof window.clearPjaxTimers === 'function') {
                        window.clearPjaxTimers();
                    }

                    // 清理基于页面的软状态，防止回到主页时因为状态残留导致拒绝初始化
                    window.isStatusLoaded = false;

                    // 提取所有的 script 标签，阻止 jQuery html() 的异步并发执行
                    var $temp = $('<div>').html(containerHtml);
                    $temp.find('script').each(function() {
                        var src = $(this).attr('src');
                        var text = $(this).html();
                        scripts.push({ src: src, text: text });
                        $(this).remove();
                    });

                    $('#pjax-container').html($temp.html());

                    // URL无感变化
                    history.pushState({url: url}, newTitle, url);

                    // P2: DOM 注入后立即关闭遮罩，让用户尽快看到页面骨架
                    layer.close(loadingIndex);

                    // P0: 并行加载外部脚本，全部就绪后按顺序执行内联初始化
                    // 1. 分离外部脚本与内联脚本
                    var externalScripts = [];
                    var inlineScripts = [];
                    scripts.forEach(function(s) {
                        if (s.src) {
                            externalScripts.push(s);
                        } else {
                            inlineScripts.push(s);
                        }
                    });

                    // 2. 确定哪些外部脚本需要实际加载
                    var toLoad = externalScripts.filter(function(s) {
                        var cleanSrc = s.src.split('?')[0];
                        var isAppScript = cleanSrc.indexOf('/static/app/') > -1 || cleanSrc.indexOf('/plugins/') > -1;
                        // app/plugin 脚本每次都重新执行；基础库已加载则跳过
                        return isAppScript || !window.loadedScripts[cleanSrc];
                    });

                    // 3. 内联脚本执行函数（在所有外部脚本完成后调用）
                    function runInlineScripts() {
                        inlineScripts.forEach(function(s) {
                            try {
                                $.globalEval(s.text);
                            } catch(e) {
                                console.error("Inline script error:", e);
                            }
                        });
                    }

                    // 4. 若无需加载的外部脚本，直接执行内联初始化
                    if (toLoad.length === 0) {
                        runInlineScripts();
                        return;
                    }

                    // 5. 并行加载所有需要的外部脚本，全部完成后执行内联初始化
                    var loadedCount = 0;
                    toLoad.forEach(function(s) {
                        var cleanSrc = s.src.split('?')[0];
                        $.ajax({
                            url: s.src,
                            dataType: "script",
                            cache: true,
                            success: function() {
                                window.loadedScripts[cleanSrc] = true;
                            },
                            complete: function() {
                                loadedCount++;
                                if (loadedCount === toLoad.length) {
                                    // 所有外部脚本已就绪，执行内联初始化
                                    runInlineScripts();
                                }
                            }
                        });
                    });
                },
                error: function() {
                    window.location.href = url;
                }
            });
        });

        // 监听浏览器后退/前进
        window.addEventListener('popstate', function(e) {
            window.location.reload();
        });
    });
  </script>
</html>
{% endif %}
