<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <title>{{data['title']}}</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link
      href="https://cdn.staticfile.org/twitter-bootstrap/3.3.5/css/bootstrap.min.css"
      rel="stylesheet"
      onerror="this.onerror=null;this.href='/static/bootstrap-3.3.5/css/bootstrap.min.css?v={{config.version}}'"
    />
    <link href="https://cdn.bootcdn.net/ajax/libs/layer/3.5.1/theme/default/layer.css" rel="stylesheet" onerror="this.onerror=null;this.href='/static/layer/skin/default/layer.css?v={{config.version}}'" />
    <link href="/static/css/site.css?v={{config.version}}&t=20260527" rel="stylesheet" />
    <link
      href="https://cdn.staticfile.org/codemirror/5.21.0/codemirror.min.css"
      rel="stylesheet"
      onerror="this.onerror=null;this.href='/static/codemirror/lib/codemirror.css?v={{config.version}}'"
    />
    <link
      href="https://cdn.staticfile.org/codemirror/5.21.0/addon/dialog/dialog.min.css"
      rel="stylesheet"
      onerror="this.onerror=null;this.href='/static/codemirror/addon/dialog/dialog.css?v={{config.version}}'"
    />
    <script src="/static/language/Simplified_Chinese/lan.js?v={{config.version}}"></script>
    <!--[if lte IE 9]>
      <script src="/static/js/requestAnimationFrame.js"></script>
    <![endif]-->

    {% for menu in data['hook_menu'] %} {% if menu['css_path'] and
    data['hook_tag'] == menu['name'] %}
    <!-- 加载插件css -->
    <link
      href="/plugins/file?name={{menu['name']}}&v={{config.version}}&f={{menu['css_path']}}"
      rel="stylesheet"
    />
    {% endif %} {% endfor %}

    <!-- 全局静态HOOK -->
    {% for menu in data['hook_global_static'] %} {% if menu['css_path'] %}
    <link
      href="/plugins/file?name={{menu['name']}}&v={{config.version}}&f={{menu['css_path']}}"
      rel="stylesheet"
    />
    {% endif %} {% endfor %}
  </head>

  <body>
    <script>
      if (localStorage.getItem("menuMini") === "true") {
        document.body.classList.add("sidebar-mini");
      }
    </script>
    <div class="bt-warp bge6">
      <div id="container" class="container-fluid">
        <div class="sidebar-scroll">
          <div class="sidebar-auto" style="padding-bottom: 50px">
            <div id="task" class="task cw" onclick="messageBox()"></div>
            <h3 class="mypcip"><span class="f14 cw">{{data['ip']}}</span></h3>
            <ul class="menu">
              {% for item in data['menu_list'] %}
                {% if item.show %}
                <li id="{{ item.id }}">
                  <a class="{{ item.class }}" href="{{ item.url }}">{{ item.name }}</a>
                  {% if item.id == 'memuAsoft' %}<span class="softnum">1</span>{% endif %}
                </li>
                {% endif %}
              {% endfor %}
              <!-- 插件设置的菜单 -->
              {% for menu in data['hook_menu'] %}
              <li id="memuAplugins_{{menu['name']}}">
                <a
                  class="menu_plugin_{{menu['name']}}"
                  href="/plugins/menu?tag={{menu['name']}}"
                  >{{menu['title']}}</a
                >
              </li>
              {% endfor %}
              <li>
                <a class="menu_exit" href="javascript:;" id="signout">退出</a>
              </li>
            </ul>
            <div id="newbtpc"></div>
            <div class="btpc-plus" onclick="bindPanel(0, 'b')">+</div>
          </div>
          <div
            id="sidebar-collapse"
            class="sidebar-collapse"
            onclick="toggleMenuMini()"
          >
            <span class="glyphicon glyphicon-menu-left"></span>
          </div>
        </div>
        <button
          style="display: none"
          id="mw_copys"
          class="mw_copy"
          data-clipboard-text=""
        ></button>
        <link
          rel="stylesheet"
          href="https://cdn.staticfile.org/xterm/3.14.5/xterm.min.css"
          onerror="this.onerror=null;this.href='/static/build/xterm.css?v={{config.version}}'"
        />
        <link
          rel="stylesheet"
          href="https://cdn.staticfile.org/xterm/3.14.5/addons/fullscreen/fullscreen.min.css"
          onerror="this.onerror=null;this.href='/static/build/addons/fullscreen/fullscreen.css?v={{config.version}}'"
        />
        <!-- jQuery -->
        <script src="https://cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/jquery-1.12.4.min.js"><\/script>')</script>

        <!-- jQuery Cookie -->
        <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script>$.cookie || document.write('<script src="/static/js/jquery.cookie-1.4.1.min.js"><\/script>')</script>

        <!-- Bootstrap -->
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script>$.fn.modal || document.write('<script src="/static/js/bootstrap.min.js"><\/script>')</script>

        <!-- Layer -->
        <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.5.1/layer.min.js"></script>
        <script>window.layer || document.write('<script src="/static/layer/layer.js"><\/script>')</script>

        <!-- Marked -->
        <script src="https://cdn.staticfile.org/marked/15.0.12/marked.min.js"></script>
        <script>window.marked || document.write('<script src="/static/js/marked.min.js"><\/script>')</script>

        <!-- jQuery Fly (本地加载，体积小) -->
        <script src="/static/js/jquery.fly.min.js"></script>

        <!-- Clipboard -->
        <script src="https://cdn.staticfile.org/clipboard.js/2.0.1/clipboard.min.js"></script>
        <script>window.ClipboardJS || document.write('<script src="/static/js/clipboard.min.js"><\/script>')</script>

        <!-- XTerm & Addons -->
        <script src="https://cdn.staticfile.org/xterm/3.14.5/xterm.min.js"></script>
        <script>window.Terminal || document.write('<script src="/static/build/xterm.js"><\/script>')</script>
        <script src="https://cdn.staticfile.org/xterm/3.14.5/addons/attach/attach.min.js" onerror="this.onerror=null;this.src='/static/build/addons/attach/attach.js'"></script>
        <script src="https://cdn.staticfile.org/xterm/3.14.5/addons/fit/fit.min.js" onerror="this.onerror=null;this.src='/static/build/addons/fit/fit.js'"></script>
        <script src="https://cdn.staticfile.org/xterm/3.14.5/addons/fullscreen/fullscreen.min.js" onerror="this.onerror=null;this.src='/static/build/addons/fullscreen/fullscreen.js'"></script>

        <!-- Socket.io -->
        <script src="https://cdn.staticfile.org/socket.io/4.5.0/socket.io.min.js"></script>
        <script>window.io || document.write('<script src="/static/js/socket.io.min.js"><\/script>')</script>

        <!-- Local custom configurations and utilities -->
        <script src="/static/build/addons/winptyCompat/winptyCompat.js"></script>
        <script src="/static/js/term-websocketio.js"></script>
        <script src="/static/app/upload.js?v={{config.version}}"></script>
        <script src="/static/app/public.js?v={{config.version}}"></script>

        <!-- jQuery dragsort (本地，较小且定制多) -->
        <script src="/static/js/jquery.dragsort-0.5.2.min.js"></script>

        <!-- jQuery QRCode (本地加载) -->
        <script src="/static/js/jquery-qrcode-0.18.0.min.js?v={{config.version}}"></script>

        <!-- XM-Select (本地加载) -->
        <script src="/static/js/xm-select.js"></script>

        {% block content %}{% endblock %}
        <div class="footer bgw">
          <span>
            御风面板 &copy;2026
            <a
              class="btlink"
              target="_blank"
              title="源码"
              href="//github.com/clhome/bt_simple"
              style="margin-left: 5px"
              ><svg
                height="16"
                width="16"
                viewBox="0 0 16 16"
                style="
                  vertical-align: middle;
                  fill: currentColor;
                  margin-top: -3px;
                "
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
                ></path></svg
            ></a>
            <span style="margin-left: 5px">/</span>
            <!-- <a
              class="btlink"
              target="_blank"
              style="margin-left: 5px"
              href="//github.com/clhome/bt_simple/wiki"
              >WIKI</a
            ><span style="margin-left: 5px">/</span> -->

            <a
              class="btlink"
              target="_blank"
              href="https://www.yftec.top"
              style="margin-left: 5px"
              >御风科技</a
            >
            <span style="margin-left: 5px">/</span>
            <a
              class="btlink"
              target="_blank"
              href="https://ip.yftec.top"
              style="margin-left: 5px"
              >IP隐私安全检测</a
            >
            <span style="margin-left: 5px">/</span>
            <a
              class="btlink"
              target="_blank"
              href="https://tools.yftec.top"
              style="margin-left: 5px"
              >御风工具箱</a
            >
          </span>
          <div style="position: absolute; right: 20px; top: 0; font-size: 13px; color: #777; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; height: 100%; display: flex; align-items: center; z-index: 10;">
            <span style="font-weight: 500; letter-spacing: 0.5px;">衢州御风科技有限公司出品</span>
            <span style="margin: 0 10px; color: #ddd;">|</span>
            <a href="mailto:admin@yftec.top" style="color: #777; text-decoration: none; transition: all 0.3s ease;" onmouseover="this.style.color='#20a53a'" onmouseout="this.style.color='#777'">
              <span class="glyphicon glyphicon-envelope" style="font-size: 12px; margin-right: 4px; top: 1px;"></span>admin@yftec.top
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    (function ($) {
      $.getUrlParam = function (name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
      };
    })(jQuery);

    var thisPath = window.location.pathname.trim() + window.location.search;
    if (thisPath.indexOf("?") > -1) {
      var tag = $.getUrlParam("tag");
      if (tag != undefined) {
        $("#memuAplugins_" + tag).addClass("active");
      }
    } else {
      if (thisPath != "/") {
        var pathArr = thisPath.substring(1).split("/");
        $("#memuA" + pathArr[0]).addClass("active");
      } else {
        $("#memuA").addClass("active");
      }
    }
  </script>
  <!-- CodeMirror CDN & Fallback -->
  <script src="https://cdn.staticfile.org/codemirror/5.21.0/codemirror.min.js"></script>
  <script>window.CodeMirror || document.write('<script src="/static/codemirror/lib/codemirror.js?v={{config.version}}"><\/script>')</script>
  <script src="/static/codemirror/addon/edit/editAll.js?v={{config.version}}"></script>
  <script src="/static/codemirror/mode/modeAll.js?v={{config.version}}"></script>
  <script src="/static/codemirror/mode/python/python.js?v={{config.version}}"></script>
  <script src="/static/codemirror/mode/shell/shell.js?v={{config.version}}"></script>
  <script src="/static/codemirror/mode/yaml/yaml.js?v={{config.version}}"></script>
  <script src="/static/codemirror/mode/markdown/markdown.js?v={{config.version}}"></script>
  <script src="/static/codemirror/mode/properties/properties.js?v={{config.version}}"></script>
  <script src="/static/codemirror/addon/dialog/dialog.js?v={{config.version}}"></script>
  <script src="https://cdn.staticfile.org/codemirror/5.21.0/addon/search/searchcursor.min.js" onerror="this.onerror=null;this.src='/static/codemirror/addon/search/searchcursor.js?v={{config.version}}'"></script>
  <script src="/static/codemirror/addon/search/search.js?v={{config.version}}"></script>
  <script src="/static/codemirror/addon/scroll/annotatescrollbar.js?v={{config.version}}"></script>
  <script src="https://cdn.staticfile.org/codemirror/5.21.0/addon/selection/active-line.min.js" onerror="this.onerror=null;this.src='/static/codemirror/addon/selection/active-line.js?v={{config.version}}'"></script>
  <script src="/static/codemirror/addon/comment/comment.js?v={{config.version}}"></script>
  <script>CodeMirror.defaults.styleActiveLine = true;</script>
  
  <!-- LayDate (本地加载，防止皮肤文件丢失) -->
  <script src="/static/laydate/laydate.js?v={{config.version}}"></script>

  {% for menu in data['hook_menu'] %} {% if menu['js_path'] and data['hook_tag']
  == menu['name'] %}
  <script src="/plugins/file?name={{menu['name']}}&f={{menu['js_path']}}&v={{config.version}}"></script>
  {% endif %} {% endfor %}

  <!-- 全局静态HOOK -->
  {% for menu in data['hook_global_static'] %} {% if menu['js_path'] %}
  <script src="/plugins/file?name={{menu['name']}}&f={{menu['js_path']}}&v={{config.version}}"></script>
  {% endif %} {% endfor %}
</html>
